<h1>Editing hall</h1>

<% form_for(@hall) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :charade_id %><br />
    <%= f.text_field :charade_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hall %> |
<%= link_to 'Back', halls_path %>
