<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gravatar %><br />
    <%= f.text_field :gravatar %>
  </p>
  <p>
    <%= f.label :hits %><br />
    <%= f.text_field :hits %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>