<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Attempts:</b>
  <%=h @user.total_attempts %>
</p>

<p>
  <b>Hits:</b>
  <%=h @user.hits %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
