  <%= calendar :header_format => Date::DATE_FORMATS[:short_day_name] = '%a', :caption_format => :month_year %>
<p style="color: green"><%= flash[:notice] %></p>
	 <b>Olá,</b> <%= @user.name %><br>
         <%= @user.email %><br>
        <% form_tag '/winner' do -%>
   	  <% if @hall != nil %>
           <h2><%= @hall.charade.name %></h2><br>	 
             Pergunta:
	     <%= @hall.charade.question %><br>
             Resposta:<br>
           <%= text_field_tag :answer %>
           <%= submit_tag :enviar, :action => "send" %>
          <% end %>
        <% end %>
